#
# Bluetooth configuration
#

menu "MXC GPU support"

config MXC_AMD_GPU
	tristate "MXC GPU support"
	depends on ARCH_MX35 || ARCH_MX5
	---help---
         Say Y to get the GPU driver support.

endmenu
